#menu{
    border: double;
    text-shadow: white 0px 0px 18px;
    background-color: #7FFFD4;
    width: 100%;
    height: 70px;
    margin: 1px;
    margin-left: 1px;
}a:link, a:visited{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0,0,0);
    transition-duration: 0.5s;
    cursor: pointer;
    }
a:hover, a:active{
    color: white;
}.gradient{
    margin: 1px;
    border: double;
    border-width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #E0FFFF, #B0E0E6, #E0FFFF, 	#F0FFF0, #F5FFFA );
    background-size: 10000% 10000%;
    animation: colors 13s alternate infinite;
}@keyframes colors{
    0%{
        background-position: 0% 50%;
    }50%{
        background-position: 100% 50%;
    }100%{
        background-position: 0% 50%;
    }
}img{
    height: 250px;
    width: 250px;
    border-radius: 400px;
    display: inline-block;
    float:left;
}.fotos1 img{
    margin-top: 100px;
    margin-left: 15%;
}.fotos2 img{
    margin-top: 100px;
    margin-left: 30%;
}.divfotos::after{
    content: " ";
    clear: both;
    display: table;
}@media screen and (max-width: 500px){
    .column{
        width: 100%;
    }
}.info{
    width: 100%;
    height: 70px;
}#info{
    margin-left: 22%;
    background: none;
    float: left;
}.info #info #ta{
    /* margin-left: 221%; */
}footer p{
    text-align: center;
    color: white;
    background-color: #000;
    align-self: center;
    font-family: monospace;
}
/* #redes{
    margin-left: 5%;
    width: 3%;
    height: 30px;
    border-radius: 100px;
}.redes br{

} */